# Copy this file to .env and fill in real values
# ============================================
VOTE_OPTION_A=Cats
VOTE_OPTION_B=Dogs
VOTE_SERVICE_PORT=8080
RESULT_SERVICE_PORT=8081
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeMeToSomethingStrong
POSTGRES_DB=postgres
